.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  .paddingContainer {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0px 20px;
    align-items: center;
    justify-content: space-between;

    .leftBlock {
      display: flex;
      align-items: center;
      text-decoration: none;

      .avatarImage {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }

      .textContainer {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        .name {
          font-weight: 400;
        }

        .career {
          font-weight: 300;
          font-size: 14px;
        }
      }
    }

    .rightBlock {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}
