$aqua: rgba(16, 200, 236, 0.65);

.iconContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55px;

  //   background-color: red;

  .icon {
    transition: 0.3s ease-in-out fill;
  }

  .nameHintContainer {
    position: absolute;
    z-index: 3;
    left: 50px;
    padding: 1px 6px;

    background-color: $aqua;

    .name {
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
