$aqua: rgba(16, 200, 236, 0.8);
$gray: rgba(100, 100, 100, 0.5);

.workBlocksContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 25px;
  // justify-items: center;
  // align-items: start;
  // height: fit-content;

  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
  }

  .blockContainer {
    // display: flex;

    border-bottom: 1px solid $gray;

    @media (max-width: 600px) {
      padding: 15px 0;

      &:first-child {
        padding-top: 0;
      }

      &:last-child {
        border-bottom: none;
      }
    }

    @media (min-width: 600px) {
      padding: 15px;

      &:nth-child(-n + 2) {
        padding-top: 0;
      }

      &:nth-child(odd) {
        border-right: 1px solid $gray;
        padding-left: 0;
      }

      &:nth-child(even) {
        padding-right: 0;
      }

      &:nth-last-child(-n + 1) {
        border-bottom: none;
      }
    }
  }
}
