$gray: rgba(100, 100, 100, 0.5);
$aqua: rgba(16, 200, 236, 0.8);

//global style
.textWithIconsContainer {
  display: flex;

  @media (max-width: 600px) {
    flex-direction: column;
  }

  .textWithIconContainer1 {
    width: 50%;
    padding-right: 15px;

    border-right: 1px solid $gray;

    @media (max-width: 600px) {
      width: 100%;
      padding: 0;

      border: none;
    }
  }

  .textWithIconContainer2 {
    width: 50%;
    padding-left: 15px;

    @media (max-width: 600px) {
      margin-top: 50px;
      width: 100%;
      padding: 0;
    }
  }
}

//expAndEdu
.textWithIconsContainer {
  .textWithIconContainer2 {
    // @media (max-width: 600px) {
    //   margin-top: 20px;
    // }

    .expAndEduBlock {
      .dot {
        top: 20px;
      }
    }
  }

  .expAndEduBlock {
    position: relative;
    padding: 15px;
    padding-right: 0;

    border-left: 0.5px solid $gray;
    border-bottom: 0.5px solid $gray;

    &:last-child {
      border-bottom: none;
      margin-bottom: 30px;

      @media (max-width: 600px) {
        margin-bottom: 0;
      }
    }

    .dot {
      position: absolute;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      left: -5.5px;
      top: 40px;

      background-color: $gray;

      &.present {
        background-color: $aqua;
      }
    }
  }
}

.progSkillsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 20px;

  &.mobile {
    @media (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 601px) {
      grid-template-columns: repeat(4, 1fr);
      gap: 10px;
    }
  }

  &:not(.mobile) {
    @media (max-width: 1000px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1001px) and (max-width: 1275px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

//codingAndLang
.textWithIconsContainer {
  .lineSkillBlocksContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

//platformsAndKnowledge
.textWithIconsContainer {
  &.platformsAndKnowledgeContainer {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .platformsBlocksContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 20px;
  }

  .knowledgeBlocksContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
