.container {
  display: flex;
  flex-direction: column;
  width: 100px;

  .percentages {
    font-size: 18px;
    text-align: center;
  }

  .name {
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
  }
}
