$aqua: rgba(16, 200, 236, 0.7);
$gray: rgba(140, 140, 140, 1);

.container {
  padding: 20px;

  .buttonsContainer {
    position: relative;
    display: flex;
    width: 100%;
    gap: 30px;

    border: 0.7px solid $gray;
    border-radius: 15px;

    &::after {
      content: "";
      position: absolute;
      width: 50%;
      height: 90%;
      top: 5%;
      left: var(--bg-offset);
      z-index: -1;
      transition: left 0.3s;

      background-color: $aqua;
      border-radius: 10px;
    }

    .buttonContainer {
      padding: 10px;
      display: flex;
      align-items: center;
      cursor: pointer;
      width: 50%;
      gap: 10px;

      background-color: transparent;
      border: none;
    }
  }
}
